body{
    margin: 0;
    padding: 0;
    background: black;
    
    
}

.box{
    width: 300px;
    background: skyblue;
    margin: 8% auto;
    padding: 20px;
    text-align: center;
    

}
.box h1{
    color: white;
    margin-bottom: 30px;

}
.input-name{
     
    border-radius: 50px;
    padding: 10px;
    margin: 10px 0px;
    outline: none;
    width: 90%;
    
}
button{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    outline: none;
    cursor: pointer;
    border: none;
    

    


}
.signup-btn{
    background-color: #d30000d0;
    
}
.twitter-btn{
    background: tomato;
}
a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    width: 30px;
        margin: -19px auto 10px ;
    background: #fff;
}
img{
    width: 70px;
    margin-top: -50px;
}